Package: com.scrptaty.ssigntheme
Name: Ssign Theme
Version: 1.0.0
Architecture: iphoneos-arm
Description: واجهة عربية داكنة حديثة لتطبيق Ssign
Maintainer: Mohammed Alsaray
Author: Mohammed Alsaray
Section: Tweaks
